.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.92);
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  display: flex;
  justify-content: center;
}
.modalOnBackDrop {
  padding: 20px 30px 30px 30px;
  /* background-color: blue; */
  border-radius: 15px;
  width: 90%;
  height: auto;
  max-height: 650px;
  overflow-y: hidden;
  margin-top: 1%;
  transition: 0.8sec ease;
}
.modalContent {
  height: 500px;
  width: 100%;
  /* background-color: yellow; */
}

.modalCloseBtn {
  color: black;

  display: flex;
  justify-content: space-between;

  padding: 5px 5px;
}
.imageChangeBtn {
  margin: 0px 5px 0px 5px;
}
