.reactCarouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(14 13 13 / 60%);
}
.reactCarouselContent {
  text-align: center;
}
